<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Looks like you did not find what you are looking for?</title>
  </head>
  <body class="flex flex-col h-screen w-screen justify-center items-center">
    <h1>Looks like you did not find what you are looking for?</h1>
    <a class="underline" href="/">Want to go home?</a>
  </body>
</html>