<html lang="en">
  <head>
  <style>
    body {
      /* disables ligatures */
      /* text-rendering: optimizeSpeed; */
    }

    /* Styles for screen only */
    @media screen {
      .print-mimic {
        width: 210mm; /* A4 paper width in mm */
        margin: 20mm auto; /* Center the content with padding */
        padding: 20mm;
        border: 1px solid #000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
      }
    }

    /* Styles for print only */
    @media print {
      main {
        contenteditable: false;
      }

      .print-mimic {
        width: auto;
        margin: 0;
        padding: 6mm 12mm 5mm 12mm;
        border: none;
        box-shadow: none;
      }

      .print-hide {
        display: none;
      }

      .greyed-out {
        display: none;
      }
    }

    /* big thank you to http://www.csstothepoint.com/hangingindent.html for the guide */
    .hangingIndent {
      text-indent: -1.5rem;
      padding-left: 1.5rem;
    }

    .greyed-out {
      opacity: 0.5;
      color: grey;
    }
  </style>

  <script>
     document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('#checkboxes input[type="checkbox"]');
        checkboxes.forEach(function(checkbox) {
          checkbox.addEventListener('change', function() {
            const type = this.id;
            const elements = document.querySelectorAll('.' + type);
            elements.forEach(function(el) {
              if (checkbox.checked) {
                el.classList.remove('greyed-out');
              } else {
                el.classList.add('greyed-out');
              }
            });
          });
        });

        // Initialize the visibility based on default checkbox states
        checkboxes.forEach(function(checkbox) {
          const type = checkbox.id;
          const elements = document.querySelectorAll('.' + type);
          elements.forEach(function(el) {
            if (checkbox.checked) {
              el.classList.remove('greyed-out');
            } else {
              el.classList.add('greyed-out');
            }
          });
        });
      });
  </script>

  <title>William Kaiser - Resume</title>
  <meta
    name="description"
    content="William Kaiser is a student at the University of Virginia studying Computer Science in the School of Engineering interested in software development."
  />

</head>

  <body class="print-mimic leading-snug font-inter">

  <div id="checkboxes" class="print-hide">
    <label><input type="checkbox" id="type-testing">Testing</label>
    <label><input type="checkbox" id="type-data-engineering">Data Engineering</label>
    <label><input type="checkbox" id="type-develops">Development</label>
  </div>
    
  <address hidden>
    23 Villa Canyon Place, The Woodlands, TX 77382
  </address>
    <header class="grid grid-cols-3">
      <div class="col-span-1 col-start-2 flex flex-col text-center">
        <h1 class="text-xl font-bold">William David Kaiser</h1>
        <a href="mailto:williamdkaiser@outlook.com"
          >williamdkaiser@outlook.com</a
        >
        <a href="tel:832-925-6037">(832) 925-6037</a>
      </div>

      <div class="mt-auto text-right flex flex-col">
        <a href="https://github.com/wkaisertexas">github.com/wkaisertexas</a>
        <a href="https://www.linkedin.com/in/williamdkaiser"
          >linkedin.com/in/williamdkaiser</a
        >
      </div>
    </header>
    <main contenteditable="true">
      <section id="education" class="space-y-2">
        <div>
          <h2 class="text-xl font-medium -mb-1">Education</h2>
          <hr class="mb-1 border-black border-t-[1px]" />
        </div>

        <div id="edu-college">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3 class="-mb-1">
                <strong>University of Virginia,</strong> School of Engineering and
                Applied Science
              </h3>
              <p class="italic">
                B.S. in Computer Science | Minor in Data Science |
                Minor in Engineering Business
              </p>
            </div>
            <div class="text-right">
              <div>GPA 3.80</div>
              <div class="italic">May 2026</div>
            </div>
          </div>
          <ul class="list-inside px-4 pr-20">
              <!-- <li class="hangingIndent">
                <strong>Relevant Coursework</strong> Data Structures and Algorithms, Computer
                Systems and Organizations, Linear Algebra, Cryptography, Compilers, Cybersecurity, Artificial Intelligence
              </li> -->
            <li class="hangingIndent">
              <strong>Clubs</strong> Phi Eta Sigma Honor Society, Cavalier Autonomous
              Racing, Forge, theCourseForum, Virginia Entrepreneurship Organization,
               Virginia Poker Club
            </li>
          </ul>
        </div>
      </section>
      <section id="experience" class="space-y-2">
        <div>
          <h2 class="text-xl font-medium -mb-1">Experience</h2>
          <hr class="mb-1 border-black border-t-[1px]" />
        </div>

        <div id="cav-auto-racing">
          <div class="flex flex-row justify-between items-end">
          <div>
              <h3 class="-mb-1">
                <strong>Cavalier Autonomous Racing,</strong> University of Virginia
              </h3>
              <p class="italic">Software Engineer</p>
            </div>
            <div>
              <p class="italic">April 2024 &mdash; Present</p>
            </div>
          </div>

          <ul class="list-disc list-inside px-4 mr-8 inset-4">
            <!-- <li>
              Responsible for detecting cars and environmental obstacles which is used to plan the car's raceline.
            </li> -->
            <li>
              Engineered real-time C++ algorithms for detecting opponent race cars at speeds up to 184.1 mph.
            </li>

            <!-- <li>
              Developed a monocular depth estimation pipeline using Torch, ATen
              and TensorRT.
              Integrated cameras into the perception stack with a PyTorch machine-learning model.
            </li> -->
            <li>
              Mitigated rear-LiDAR blind spots by fusing 4D radars into the Kalman Filter detection pipeline.
            </li>
            <!-- <li>
              Used cameras to reduce radar blindspots 
            </li> -->
            <!-- <li>
              Implemented an Extended Kalman Filter (EKF) to fuse opponent camera, lidar and radar position and velocity estimations.
            </li> -->
            <!-- <li>
              Decreased detection time over 50% by implementing
              networking optimizations and zero-copy data-transfer.
            </li> -->
            <li>
              Created a custom profiling tool to record a ROS node&apos;s CPU and GPU usage to reduce detection time.
            </li>
            <li>
              Led a remote development initiative enabling new members to onboard in &lt;30 minutes.</li>
            <li>
              Created and integrated a end-to-end GitLab CI/CD pipeline on the University of Virginia&apos;s SLURM cluster, decreasing test execution time by 94%.
            </li>
          </ul>
        </div>

      <div id="sitscape">
        <div class="flex flex-row justify-between items-end">
          <div>
            <h3 class="-mb-1">
              <strong>SitScape,</strong> Washington D.C.
            </h3>
            <p class="italic">Software Engineering Intern</p>
          </div>
          <div>
            <p class="italic">May 2024 &mdash; August 2024</p>
          </div>
        </div>

        <ul class="list-disc list-inside px-4 mr-8">
          <!-- <li>
            Built a user-interface and logic generator chatbot for a web-based enterprise
            low-code development platform.
          </li> -->
          <!-- <li>
            Built a user-interface and logic generator for application developers for a no-code platform.
          </li> -->
          <li class="type-testing">
            Built a user-interface and logic generator using Python and JavaScript for a no-code platform, enhancing product design.
          </li>
    
          <!-- <li>
            Built a copilot for application developers in web-based no-code platform. 
          </li> -->
          <!-- <li>
            Built a Gen-UI and Gen-Logic chatbot for application developers in a web-based no-code platform.
          </li> -->
          <!-- <li>
            Used generative ai to build a chatbot for application developers in a web-based no-code platform.
          </li>
          <li>
          </li> -->
          <!-- <li>
            Saved development time by reliably completing intermediate length
            tasks (~3-5 minutes in length).
          </li> -->

          <li>
            Reduced development time by generating a first-pass user interface and logic for application developers.
          </li>

          <li>
            Worked with JavaScript, HTML, CSS and Python in an Agile development environment.
          </li>
    
          <!-- <li>
            Developed an intermediate representation for UI and logic
            which was able to enhance large language model parsing.
          </li> -->
        </ul>
        </div>

        <div id="exp-gpu-research">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3 class="-mb-1">
                <strong>School of Engineering and Applied Science,</strong> University
                of Virginia
              </h3>
              <p class="italic">Graphical Processing Unit Researcher</p>
            </div>
            <div>
              <p class="italic">September 2022 &mdash; Present</p>
            </div>
          </div>

          <ul class="list-disc list-inside px-4 mr-8">
            <!-- <li>
              Researching how to make Large Language Models (LLMs) faster
              through more efficient memory access.
            </li> -->
            <li>
              Profiling memory access in distributed training with CUDA, NVIDIA
              NSight Systems, and GPGPU-Sim.
            </li>
            <li>
              Collaborated with a research team to perform trace-driven simulations using MGPUSim and Accel-Sim, evaluating the performance impact of proposed hardware modifications.
            </li>
            <!-- <li>
              Profiling machine learning memory use in GPUs with CUDA, NVIDIA
              NSight Systems, and GPGPU-Sim.
            </li> -->
            <li>
              Paid National Science Foundation researcher with Professor of
              Computer Science Adwait Jog.
            </li>
            <!-- <li>
              Paid National Science Foundation research position with Professor
              of Computer Science Adwait Jog.
            </li> -->
          </ul>
        </div>

        <div id="timelapse">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3 class="-mb-1"><a href="https://github.com/wkaisertexas"><strong>TimeLapze</strong>, Personal Project</a></h3>
              <p class="italic">Screen and Camera Recorder</p>
            </div>
            <div>
              <p class="italic">May 2023 &mdash; January 2024</p>
            </div>
          </div>

          <ul class="list-disc list-inside px-4 mr-8">
            <li>
              Built and published an open source screen and camera recorder to
              make time-lapse videos on MacOS.
            </li>
            <!-- <li>
              Prototyped this project to reduce screen recording sizes using
              Python and OpenCV.
            </li> -->
            <li>
              Ranked <strong>#1 on Hacker News</strong> with more than 750 Stars on GitHub and over >10,000 users.
            </li>
            <li>
                Leveraged AVFoundation and Metal for hardware acceleration, reducing CPU usage by 70% and enabling simultaneous 4K recording.
            </li>
            <!-- <li>
              Reduced build size from 500 MB to 2 MB after rewriting a Python
              proof of concept in native Swift.
            </li> -->
          </ul>
        </div>

        <!-- <div id="exp-ds-research">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3 class="-mb-1">
                <strong>School of Data Science,</strong> University of Virginia
              </h3>
              <p class="italic">Research Intern</p>
            </div>
            <div>
              <p class="italic">September 2022 &mdash; May 2023</p>
            </div>
          </div>

          <ul class="list-disc list-inside px-4 mr-8">
            <li>
              Built a platform to share material science data utilizing a
              Next.js frontend and an OpenSearch cluster.
            </li>
            <li>
              Collected experimental and simulation data for 5 main energetic
              material categories.
            </li>
            <li>
              Created a data ingestion pipeline for larger than 1 terabyte data imports
              using AWS S3 and API Gateway.
            </li>
            <li>
              Mocked and refined a search and import user interface in Figma.
            </li
          </ul>
        </div> -->

        <div id="exp-val-partners">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3 class="-mb-1">
                <strong>Valedor Partners,</strong> Houston, TX
              </h3>
              <p class="italic">Software Engineering Intern</p>
            </div>
            <div>
              <p class="italic">May 2021 &mdash; August 2021</p>
            </div>
          </div>

          <ul class="list-inside list-disc px-4 mr-8">
            <li>
              Reached 90% validation accuracy for an optical gauge reading pipeline developed with OpenCV on embedded Linux designed to be ran on Boston Dynamics&apos; Spot.
            </li>
            <!-- <li>
              Achieved 90% validation accuracy on an optical gauge reading pipeline using OpenCV on embedded Linux.
            </li> -->
            <li>
              Built a machine-learning model to predict the likelihood of a loan officer approving a loan using data from mortgage broker with 1.4 billion dollars of annual loan approvals.
            </li>
            <!-- <li>
              Was part of a team analyzing a which wrote 1.4 billion dollars of loans annually.
            </li> -->
            <!-- <li>
              Presented results of mortgage pipeline examination to client
              stakeholders.
            </li> -->
          </ul>
        </div>
      </section>

      <section id="leadership" class="space-y-1">
        <div>
          <h2 class="text-xl font-medium -mb-1">Leadership</h2>
          <hr class="mb-1 border-black border-t-[1px]" />
        </div>

        <div id="veo">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3 class="-mb-1">
                <strong>Virginia Entrepreneurship Organization, </strong> University
                of Virginia
              </h3>
              <p class="italic">President</p>
            </div>
            <div>
              <p class="italic">November 2023 &mdash; Present</p>
            </div>
          </div>
  
          <!-- <ul class="list-disc list-inside px-4">
            <li>
              Organized a pitch competition with 10 teams and $1,000 in prizes.
            </li>
            <li>
              Coordinated speaker events with local entrepreneurs with over 50
              attendees.
            </li>
          </ul> -->
        </div>  

        <div id="course-director">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3 class="-mb-1">
                <strong>Forge,</strong> University of Virginia
              </h3>
              <p class="italic">Director</p>
            </div>
            <div>
              <p class="italic">August 2023 &mdash; Present</p>
            </div>
          </div>

          <!-- <ul class="list-disc list-inside px-4 mr-8">
              <li>
                Taught a 10-week Introduction to Machine Learning course to 20 students in TensorFlow.
              </li>
              <li>
                Taught an Introduction to Machine Learning with TensorFlow Course to 20 students.
              </li>
              <li class="parents">
              Developed a 10-week curriculum to prepare students for the TensorFlow Developer Certification Test.
              </li>
              <li>
                Developed a 10-week curriculum from scratch which
                included readings, lectures and take-home projects.
              </li>
              <li>
                Culminated in a student-directed final project showcasing an
                interactive machine learning model.
              </li>
            </ul> -->
        </div>

      
      </section>
     
      <!-- <section id="projects">
        <h2 class="text-xl font-medium -mb-1">Projects</h2>
        <hr class="mb-1 border-black border-t-[1px]" />


        <div id="isef-analysis">
        <div class="flex flex-row justify-between items-end">
          <div>
            <h3 class="-mb-1">
              <strong
                >International Science and Engineering Fair Analysis</strong
              >
            </h3>
            <p class="italic">Data Visualization Project</p>
          </div>
          <div>
            <p class="italic">February 2023 &mdash; May 2023</p>
          </div>
        </div>

        <ul class="list-disc list-inside px-4 mr-8">
          <li>
              Scraped >13,000 top science fair projects using Python and
              BeautifulSoup.
            </li>
          <li>
              Analyzed data on 20 project categories utilizing Pandas and
              Matplotlib.
            </li>
          <li>
            Scraped over 13,000 top science fair projects using Python and
            BeautifulSoup, and created an interactive in-browser dashboard with
            Bokeh, JavaScript, and WebGL.
          </li>
          <li>
            Published findings in a 5,000-word LinkedIn post with over 5,000
            reads.
          </li>
        </ul>
      </div> 

      <div id="media-impact-analysis">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3 class="-mb-1"><strong>Media Impact Analysis</strong></h3>
              <p class="italic">Research Project</p>
            </div>
            <div>
              <p class="italic">September 2021 &mdash; April 2022</p>
            </div>
          </div>

          <ul class="list-disc list-inside px-4">
            <li>
              Analyzed >400,000 coronavirus research papers in the Open Research
              Dataset using Python and R.
            </li>
            <li>
              Leveraged alternative metrics to quantify research paper impacts
              on the scientific community and media.
            </li>
            <li>
              Applied K-means clustering to categorize research using embeddings
              from a biomedical sciences model.
            </li>
            <li>Wrote, presented, and defended research conducted.</li>
          </ul>
        </div>
    </section>
      </section> -->

        <section id="skills">
          <div>
            <h2 class="text-xl font-medium -mb-1">Skills</h2>
            <hr class="mb-1 border-black border-t-[1px]" />
          </div>

          <ul class="px-4 pt-2">
            <li>
              <strong>Languages (Proficient)</strong>
              <item>C++</item>, <item>Python,</item> <item class="type-testing">Matlab,</item> <item class="type-data-engineering">Go, </item><item>Java</item>, <item>Swift</item>
            </li>
            <li>
              <strong>Languages (Familiar)</strong>
              <item>HTML</item>, <item>CSS</item>, <item>JavaScript</item>, <item>SQL</item>, <item class="type-data-engineering">Rust</item>
            </li>

            <!-- <li>
              <strong>Languages</strong>
              <item>C++</item>, <item>Python</item>, <item>Java</item>, <item>Swift</item>, <item>HTML (familiar)</item>, <item>CSS</item>, <item>JavaScript</item>, <item>SQL</item>
            </li> -->
            <li>
              <strong>Tools</strong> <item>Docker</item>, <item>Linux</item>, <item>Git</item>, <item>Django</item>, <item>ROS 2</item>, <item class="type-data-engineering">Apache Spark,</item><item class="type-data-engineering">Cassandra,</item><item class="type-data-engineering">Kafka,</item> <item>React</item>, <item>TensorFlow</item>, <item>OpenCV</item>, <item>Matplotlib</item>, <item>Pandas</item>, <item>NumPy</item>, <item>Jira</item>, <item>Visual Studio</item>
            </li>
            <li>
              <strong>Certifications</strong> TensorFlow Developer Certified, AWS
              Certified Cloud Practitioner
            </li>
          </ul>
        </section>

        <section id="honors">
          <div>
            <h2 class="text-xl font-medium -mb-1">Honors and Awards</h2>
            <hr class="mb-1 border-black border-t-[1px]" />
          </div>

          <ul class="w-full grid grid-cols-2 list-inside list-disc px-4">
            <li>Hoo Hacks 1st Place Award</li>
            <li>Dean's List</li>
            <li>Eagle Scout</li>
            <!-- <li>The Congressional Award Gold Medal</li> -->
            <li>National Merit Finalist</li>
          </ul>
        </section>
    </main>
  </body>
</html>
