<html lang="en">
  <style>
    body {
      text-rendering: optimizeSpeed;
    }

    /* Styles for screen only */
    @media screen {
      .print-mimic {
        width: 210mm; /* A4 paper width in mm */
        margin: 20mm auto; /* Center the content with padding */
        padding: 20mm;
        border: 1px solid #000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
      }
    }

    /* Styles for print only */
    @media print {
      .print-mimic {
        width: auto;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
      }

      .print-hide {
        display: none;
      }
    }
  </style>

    <title>William Kaiser - Resume</title>
    <meta
      name="description"
      content="William Kaiser is a student at the University of Virginia studying Computer Science in the School of Engineering interested in software development."
    />

  <body class="print-mimic leading-snug font-serif">
    <header class="grid grid-cols-3">
      <div class="col-span-1 col-start-2 flex flex-col text-center">
        <h1 class="text-xl font-bold">William David Kaiser</h1>
        <a href="mailto:williamdkaiser@outlook.com" class="font-bold"
          >williamdkaiser@outlook.com</a
        >
        <a href="tel:832-925-6037">(832) 925-6037</a>
      </div>

      <div class="my-auto text-right flex flex-col">
        <a href="https://github.com/wkaisertexas">github.com/wkaisertexas</a>
        <a href="https://www.linkedin.com/in/williamdkaiser"
          >linkedin.com/in/williamdkaiser</a
        >
      </div>
    </header>
    <main>
      <section id="education">
        <h2 class="text-2xl font-semibold -mb-1">Education</h2>
        <hr class="border-black border-t-[3px]" />
        <div id="edu-college">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3>
                <strong>University of Virginia,</strong> School of Engineering and
                Applied Science
              </h3>
              <p class="italic">
                B.S. in Engineering Computer Science | Minor in Data Science |
                Minor in Engineering Business
              </p>
            </div>
            <div class="text-right">
              <div>GPA 3.9</div>
              <div class="italic">May 2026</div>
            </div>
          </div>
          <ul class="list-inside list-disc px-4 pr-24">
            <li>
              <strong>Coursework:</strong> Data Structures and Algorithms, Computer
              Systems and Organizations, Linear Algebra, Cryptography, Software Development
              Essentials, Advanced Software Development
            </li>
            <li>
              <strong>Clubs:</strong> Forge (formerly HackC'Ville), Virginia Entrepreneurship
              Organization, theCourseForum, Student Council Treasurer,
              Poker Club, Phi Eta Sigma Honor Society
            </li>
          </ul>
        </div>
      </section>
      <section id="experience">
        <h2 class="text-2xl font-semibold -mb-1">Experience</h2>
        <hr class="border-black border-t-[3px]" />

        <div id="exp-gpu-research">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3>
                <strong>School of Engineering and Applied Science,</strong> University
                of Virginia
              </h3>
              <p class="italic">Graphical Processing Unit (GPU) Researcher</p>
            </div>
            <div>
              <p class="italic">December 2023 &mdash; Present</p>
            </div>
          </div>

          <ul class="list-disc list-inside px-4">
            <li>
              Researching how to make Large Language Models (LLMs) faster
              through more efficient memory access.
            </li>
            <li>
              Profiling machine learning memory use in GPUs with CUDA and NVIDIA
              NSight Systems.
            </li>
            <li>
              Paid National Science Foundation position with Professor of
              Computer Science Adwait Jog.
            </li>
          </ul>
        </div>

        <div id="exp-ds-research">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3>
                <strong>School of Data Science,</strong> University of Virginia
              </h3>
              <p class="italic">Research Intern</p>
            </div>
            <div>
              <p class="italic">September 2022 &mdash; May 2023</p>
            </div>
          </div>

          <ul class="list-disc list-inside px-4">
            <li>
              Built a platform to share material science data utilizing a
              Next.js frontend and an AWS OpenSearch cluster.
            </li>
            <li>
              Collected experimental and simulation data for 5 main energetic
              material categories.
            </li>
            <li>
              Created a data ingestion pipeline for >1 terabyte data imports
              using AWS S3 and AWS API Gateway.
            </li>
            <li>
              Mocked and refined a search and import user interface in Figma.
            </li>
          </ul>
        </div>

        <div id="exp-val-partners">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3><strong>Valedor Partners,</strong> Houston, TX</h3>
              <p class="italic">Data Science Intern</p>
            </div>
            <div>
              <p class="italic">May 2021 &mdash; August 2021</p>
            </div>
          </div>

          <ul class="list-inside list-disc px-4">
            <li>
              Achieved >90% validation accuracy with an optical pressure gauge
              reading pipeline leveraging OpenCV.
            </li>
            <li>
              Statistically analyzed >13,000 mortgage applications using Microsoft Excel and R.
            </li>
            <li>
              Presented results of mortgage pipeline examination to client
              stakeholders.
            </li>
          </ul>
        </div>
      </section>

      <section id="leadership">
        <h2 class="text-2xl font-semibold -mb-1">Leadership Positions</h2>
        <hr class="border-black border-t-[3px]" />

        <div id="course-director">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3>
                <strong>Forge (formerly HackC'ville),</strong> University of Virginia
              </h3>
              <p class="italic">Course Director</p>
            </div>
            <div>
              <p class="italic">August 2023 &mdash; Present</p>
            </div>
          </div>

          <ul class="list-disc list-inside px-4">
            <li>
              Taught 20+ students machine learning in a 10-week course with TensorFlow.
            </li>
            <li>
              Developed a 10-week curriculum and course pack from scratch which included: readings, lectures, workshops and projects.
            </li>
            <li>
              Culminated in a student-directed final project showcasing an interactive machine learning model.
            </li>
          </ul>
        </div>
      </section>

      <div id="veo">
        <div class="flex flex-row justify-between items-end">
          <div>
            <h3>
              <strong>Virginia Entrepreneurship Organization, </strong> University
              of Virginia
            </h3>
            <p class="italic">Vice President of Events</p>
          </div>
          <div>
            <p class="italic">November 2023 &mdash; Present</p>
          </div>
        </div>

        <ul class="list-disc list-inside px-4">
          <li>
            Organized a pitch competition with 10 teams and $1,000 in prizes.
          </li>
          <li>
            Coordinated speaker events with local entrepreneurs with over 50
            attendees.
          </li>
        </ul>
      </div>

      <section id="projects">
        <h2 class="text-2xl font-semibold -mb-1">Projects</h2>
        <hr class="border-black border-t-[3px]" />

        <div id="timelapse">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3><strong>TimeLapze</strong></h3>
              <p class="italic">Screen Recorder</p>
            </div>
            <div>
              <p class="italic">May 2023 &mdash; January 2024</p>
            </div>
          </div>

          <ul class="list-disc list-inside px-4">
            <li>
              Built and published a open-source screen and camera recorder to make
              time-lapses for MacOS.
            </li>
            <!-- <li>
              Prototyped this project to reduce screen recording sizes using
              Python and OpenCV.
            </li> -->
            <li>
              Reduced build size from 500 MB to 2 MB after a native in Swift,
              SwiftUI, and ScreenCaptureKit.
            </li>
            <li>
              Ranked #1 on Hacker News and gained >700 Stars on GitHub after launch.
            </li>
          </ul>
        </div>

        <div id="isef-analysis">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3>
                <strong
                  >International Science and Engineering Fair Analysis</strong
                >
              </h3>
              <p class="italic">Data Visualization Project</p>
            </div>
            <div>
              <p class="italic">February 2023 &mdash; May 2023</p>
            </div>
          </div>

          <ul class="list-disc list-inside px-4">
            <li>
              Scraped >13,000 top science fair projects using Python and
              BeautifulSoup.
            </li>
            <li>
              Analyzed data on 20 project categories utilizing Pandas and
              Matplotlib.
            </li>
            <li>
              Created an interactive in-browser dashboard leveraging
              Bokeh, JavaScript and WebGL.
            </li>
            <li>
              Published findings in a 5,000-word post that has >4,500 reads on
              LinkedIn.
            </li>
          </ul>
        </div>

        <!-- <div id="media-impact-analysis">
          <div class="flex flex-row justify-between items-end">
            <div>
              <h3><strong>Media Impact Analysis</strong></h3>
              <p class="italic">Research Project</p>
            </div>
            <div>
              <p class="italic">September 2021 &mdash; April 2022</p>
            </div>
          </div>

          <ul class="list-disc list-inside px-4">
            <li>
              Analyzed >400,000 coronavirus research papers in the Open Research
              Dataset using Python and R.
            </li>
            <li>
              Leveraged alternative metrics to quantify research paper impacts
              on the scientific community and media.
            </li>
            <li>
              Applied K-means clustering to categorize research using embeddings
              from a biomedical sciences model.
            </li>
            <li>Wrote, presented, and defended research conducted.</li>
          </ul>
        </div> -->
      </section>

      <section id="skills">
        <h2 class="text-2xl font-semibold -mb-1">Skills</h2>
        <hr class="border-black border-t-[3px]" />

        <ul class="px-4 pt-2">
          <li>
            <strong>Languages:</strong> Python, C++, Java, Swift, HTML, CSS, JavaScript,
            R, SQL
          </li>
          <li>
            <strong>Libraries:</strong> Django, React (Next.js), TensorFlow, OpenCV,
            GGPlot2, Bokeh, Matplotlib, Pandas, NumPy, SciPy
          </li>
          <li>
            <strong>Certifications:</strong> TensorFlow Developer Certified, AWS
            Certified Cloud Practitioner
          </li>
        </ul>
      </section>

      <section id="honors">
        <h2 class="text-2xl font-semibold -mb-1">Honors and Awards</h2>
        <hr class="border-black border-t-[3px]" />
        <ul class="w-full grid grid-cols-2 list-inside list-disc px-4">
          <li>Hoo Hacks Patient Safety Challenge Award Winner</li>
          <li>Dean's List</li>
          <li>Eagle Scout Award</li>
          <!-- <li>The Congressional Award Gold Medal</li> -->
          <li>National Merit Finalist</li>
        </ul>
      </section>
    </main>
  </body>
</html>
