---
import { Image } from '@astrojs/image/components';

type Props = {
  title: string;
  description: string;
  src: string;
};

const { title, description, src } = Astro.props;
---

<li class="flex flex-row space-x-6">
  <Image src={src} alt={title} width={72} aspectRatio={1} />
  <div>
    <h3 class="font-bold text-xl">{title}</h3>
    <p>{description}</p>
  </div>
</li>
